# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1. SQL
2. python
3. R

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. scikit-learn
5. Tensorflow

|Data Scienece Tool Names    |
|----------------------------|
|jupyter Notebook            |
|Rstudio                     |
|Apache Spark                |

### Below are a few examples of evaluating arithmetic expressions in Python  
$a+b =c$

In [7]:
(3*4)+5

17

In [11]:
print("This a simple arithmetic expression to mutiply then add integers.")
(3*4)+5

This a simple arithmetic expression to mutiply then add integers.

17

In [12]:
print("This will convert 200 minutes to hours by diving by 60")
200/60

This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**

+ Popular Programming Languages SQL, python, R
+ Popular Libraries Pandas,Numpy,Scikit Learn,Tensorflow 
+ API 
+ Sources of Dataset

## Author
Shivani Gupta